<!DOCTYPE html>
<html>
  <head>
    <title>CodingIsCool - A simple way to code</title>
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/home.css" rel="stylesheet">
    <link href="/static/images/code.png" rel="icon">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/help">Help</a>
      <a href="/login">Login</a>
      <a href="/signup">Sign Up</a>
    </nav>
    <div id="descript"><br><br><br><br><br><br><br><br><h1>CodingIsCool is a coding platform that allows you to easily create websites and do coding. It supports HTML, CSS, JavaScript, Python, Java, C, C++, C#,JSON, SVG, and CSV.</h1></div>
    <img src="/static/images/editor.png" width="40%">
    <h1 style="margin-top:500px">Features</h1><br>
    <div id="features">
      <div class="feature">It has a simple, clean, and user-friendly editor.</div>
      <div class="feature">Save your changes with one click.</div><br>
      <div class="feature">Your websites are run live.</div>
      <div class="feature">Store all of your files in one place.</div>
    </div><br><br><br>
    <h1>Do all of this, for free.</h1><br><br><br>
    <button onclick="location.href = '/signup'" class="btn">Get Started</button>
    <br><br><br>
  </body>
</html>